.fa {
    &.fa-code { background-color: $social_livecoding; }
    &.fa-envelope { background-color: $social_mail; }
    &.fa-github { background-color: $social_github;}
    &.fa-gitlab { background-color: $social_gitlab;}
    &.fa-linkedin { background-color: $social_linkedin;}
    &.fa-google-plus-square { background-color:$social_google-plus-square;}
    &.fa-twitter { background-color: $social_twitter;}
}