body {
  padding-top: 6rem;
  min-height: 75rem;
  position: relative;

  @include media-breakpoint-down (sm) {
    padding-top: 10rem 0 0 0;
  }
}


$font-color: white;
$main-color: #4785ff;

// toggler
$toggler-bounds: 50px;
$toggler-font-size: 1.5em;
$toggler-margin: -0.5rem -1rem;// Matches the navbar margin


// Header

.navbar {
  margin-bottom: 20px;
  background-color: $main-color;
  border-radius: 0px;
  padding: 0 0 0 1em;

  @include media-breakpoint-up (sm) {
      padding-left: 50px;
  }

  @include media-breakpoint-up (md) {
      padding-left: 100px;
      padding-right: 100px;
  }

  @include media-breakpoint-up (lg) {
      padding-left: 200px;
      padding-right: 200px;
  }

  @include media-breakpoint-up (lg) {
      padding-left: 20%;
      padding-right: 20%;
  }

  .navbar-brand {
    font-size: 1.5em;
    color: $font-color;
    font-weight: bold;
  }

  ul.navbar-nav {

    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;

    @extend .text-xs-center;

    li.nav-item {
      padding: 0;
      margin: 0;

      a.nav-link {
        color: $font-color;
        padding: 0 1em 0 1em;
        
        &.active {
          color: $main-color;
          background-color: white;

          @include media-breakpoint-up (sm) {
                background-color: white;
                color:$main-color;
          }
        }
      } // End <a>
    } // End <li>

    @include media-breakpoint-up (sm) {
      float: right !important;
    }
  } // End <ul>

  // toogle menu button
  .navbar-toggler {
    //margin: $toggler-margin;
    background-color: white;
    color: $main-color;
    border-radius: 0;
    width: $toggler-bounds;
    height: $toggler-bounds;
    font-size: $toggler-font-size;
  } 
  
}

/* Customize container */
.container {
  max-width: 46rem;
}

section[role="main"] {
  article {
    header {
      h1 {
        line-height: 200%;
      }
    }
  }
}


/* Remove that ugly outline effect */
* { outline: none !important; }
