body {
  padding-top: 20px;
  padding-bottom: 20px;
}


$background-color: white;//#fffef2;
$main-color: #4785ff;
// Header

.navbar {
  margin-bottom: 20px;
  background-color: $background-color;
  border: 2px solid $main-color;
  border-radius: 0.25rem;

  .navbar-nav {
    .nav-item {
      .nav-link {
      }
    }
  }

  // toogle menu button
  .navbar-toggler {
    border: 2px solid $main-color;
    color: $main-color;
  } 
  
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

section[role="main"] {
  article {
    header {
      h1 {
        line-height: 200%;
      }
    }
  }
}


/* Remove that ugly outline effect */
* { outline: none !important; }
