.container {
    max-width: 46rem;
    section[role="main"] {
        background-color: $main-background-color;
        article {
            header {
                h1, h2, h3, h4, h5 {
                    @extend .text-xs-center;
                    line-height: 200%;
                }

                p {
                    @extend .text-xs-center;
                    @extend .lead;
                }
            }
        }        
    }

    margin-top: 40px;
}

.no-margin-no-padding {
    margin: 0;
    padding: 0;
}

// Features "portfolio" section
.portfolio-page {

    .project {

        margin-top: 10px;
        margin-bottom: 20px;
        //border: 1px solid rgba(0, 0, 0, 0.125);

        .project-info {

            // Features organization button
            a[role="button"] {
                border-radius: 0;
                position: absolute;
                top: 0px;
                left: 0px;

                @include media-breakpoint-down(sm) {
                    padding: 10px;
                    font-size: 20px;
                }
            }

            // End button featuring

            h1, h2, h3, h4, h5, h6 {
                font-size: 20px;
                text-align: center;
                width: 100%;
            }

            background-color: #f5f5f5;
            padding: 50px;

            .description {
                @extend .text-justify;
                font-size: 15px;
            }

            .technologies {
                @extend .m-x-auto;
                @extend .text-xs-center;
            }
        }

        .project-image {
            padding: 0;

            img {
                @extend .img-fluid;
            }
        }
    }
}

// Features "nosotros" section

.us-page {

    .card {
        border-radius: 0;
    }

    img {
        @extend .m-x-auto;
        @extend .d-block;
        @extend .img-fluid;
        width: 80%;
        margin: 2rem;
        border-radius: 0 !important;
    }

    div.description {
        @extend .text-justify;
    }

    div.social-container {
        i.fa {
            color: white;
            display: inline-block;
            line-height: 1;
            padding: 0.4em;
            border-radius: 0.1em;
            box-shadow: inset 0 -2px 0 rgba(0,0,0,0.12);

            .fa {
                &.fa-code { background-color: $social_livecoding; }
                &.fa-envelope { background-color: $social_mail; }
                &.fa-github { background-color: $social_github;}
                &.fa-gitlab { background-color: $social_gitlab;}
                &.fa-linkedin { background-color: $social_linkedin;}
                &.fa-google-plus-square { background-color:$social_google-plus-square;}
                &.fa-twitter { background-color: $social_twitter;}
            }
        }
    }

    // Greater images on small devices
    @include media-breakpoint-up(sm) {
        img {
            width: 70%;
        }
    }

    @include media-breakpoint-up(md) {
        img {
            width: 50%;
        }
    }

    @include media-breakpoint-up(lg) {
        img {
            width: 40%;
        }
    }
}

.presentation-page {

    padding: 0;

    .jumbotron {
        background-color: #f1f3f3;
        border-radius: 0;
        //border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 2rem 1rem;

        h1, h2, h3, h4, h5, h6 {
            @extend .text-xs-center;
        }

        p {
            padding: 1em;
        }
        img {}
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .service {
        
        h1, h2, h3, h4, h5, h6 {
            @extend .text-xs-center;
        }

        p {
            padding: 2em;

            @include media-breakpoint-up (md) {
                font-size: 0.9em;
                padding: 0;
            }

            em { 
                font-style: normal;
                font-weight: bold;
            }
        }
        
        .fa {
            @extend .text-xs-center;
            width: 100%;
            line-height: 200%;
            font-size: 2em; // .fa-2x

            @include media-breakpoint-down(md) {
                font-size: 3em; // .fa-3x
            }

            @include media-breakpoint-down(sm) {
                font-size: 4em;// .fa-4x
            }  
        }

        .fa-gamepad {
            color: $main-color;
        }

        .fa-android {
            color: #92c71c;
        }

        .fa-wrench {
            color: grey;
        }
    }
}

.contact-page {
    .row {
        padding: 0 1em;
    } 
}

/* Small. Above 34em (544px) */

/* Medium. Above 48em (768px) */

/* Large. Above 62em (992px) */

/* Extra large. Above 75em (1200px) */