<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" 
            data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <a class="navbar-brand hidden-sm-up pull-xs-left" href="{{ site.url }}">{{ site.title }}</a>

        <!-- The old trick did the trick -->
        <span class="clearfix" ></span>

        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            {% if site.logo %}
            <img src="{{ site.logo | prepend: site.web_assets }}" class="logo" alt="" title="" />
            {% endif %}
            <a class="navbar-brand hidden-xs-down" href="{{ site.url }}">{{ site.title }}</a>
            <ul class="nav navbar-nav pull-xs-right">
                {% include navigation.html %}
            </ul>
        </div>
    </nav> <!-- /navbar -->
</div>