{% for c_page in custom_pages %}
    {% assign is_current = page.url == c_page.url %}
    {% if c_page.title %}
    <li role="presentation" class="nav-item" >
        <a title="{{ c_page.title }}" href="#{{ c_page.title | downcase }}" class="nav-link" >
            <!--href="{{ c_page.url | prepend: site.url }}" class="nav-link">-->
            {{ c_page.title }}
            {% if is_current %}
            <span class="sr-only">(página actual)</span>
            {% endif %}
        </a>
    </li>
    {% endif %}
{% endfor %}