{% for c_page in custom_pages %}
    {% assign is_current = page.url == c_page.url %}
    {% if is_current %}    
        <li role="presentation" class="nav-item active" >
    {% else %}
        <li role="presentation" class="nav-item" >
    {% endif %}
            <a  title="{{ c_page.title }}"
                href="{{ c_page.url | prepend: site.url }}" class="nav-link">
                {{ c_page.title }}
                {% if is_current %}
                <span class="sr-only">(página actual)</span>
                {% endif %}
            </a>
        </li>                
{% endfor %}