{% assign user_socials = include.social %}

<div class="social-container" >
{% for u_social in user_socials %}
    {% assign u_social_platform = u_social[0] %}
    {% assign u_social_username = u_social[1] %}

    {% assign r_social = site.data.social  | where: 'platform', u_social_platform | first %}
    {% if r_social %}
        <a href="{{ r_social.url }}{{ u_social_username }}" title="{{ r_social.title }}" ><!--
            --><i class="svg-icon {{ r_social.icon }}" aria-hidden="true" ></i><!--
        --></a>
    {% endif %}
{% endfor %}
</div>