{% assign item_socials = include.social %}

<div class="social-container" >
{% for item_social in item_socials %}
    {% assign social_platform = item_social[0] %}
    {% assign social_username = item_social[1] %}

    {% assign current_social = site.social_links | where: 'platform', social_platform | first %}
    {% if current_social %}
        <a href="{{ current_social.url }}{{ social_username }}" title="{{ current_social.title }}" target="_blank"><!--
            --><i class="{{ current_social.icon }}" aria-hidden="true" ></i><!--
        --></a>
    {% endif %}
{% endfor %}
</div>