// Import bootstrap4-alpha4
@import 'geekyll/bootstrap4alpha4/bootstrap';

// Tags
.tag-area {
	display: inline-block;
	padding: 3px 4px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}

// Import partials
@import 
    "geekyll/layout",
    "geekyll/pages",
    "geekyll/social",
    "geekyll/icons"
;