--- 
layout: root 
class: full_page 
--- 

{% assign custom_pages = site.pages | where: 'indexable', true | sort: 'priority' | reverse %}

{% include header.html %}

{% for c_page in custom_pages %}
<div class="container {{ c_page.class | default: '' }}">
    <section role="main">
        <article>
            <header>
                <h1>
                    {{ c_page.title }}
                </h1>
                {% if c_page.summary %}
                    <p>{{ c_page.summary }}</p>
                {% endif %}
            </header>
            <main>
                {{ c_page.content | liquefy }}
            </main>
        </article>
    </section>
</div>
{% endfor %}

{% include footer.html %} 
{% include javascripts.html %}